
<div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Chambres</h3>
          <button (click)="redirigerVersformulairedajout()" class="btn btn-primary">Ajouter</button>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">NuméroChambre</th>
                <th scope="col">Type de la chambres </th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let chambreItem of chambres; let i = index">
                <td>
                  {{ chambreItem.numeroChambre}}
                </td>
                <td>
                  {{ chambreItem.typeC }}
                </td>
                <td >
                  <div class="dropdown">
                    <a class="btn btn-sm  text-light" href="#" role="button" 
                      aria-haspopup="true" aria-expanded="false">
                     
                    </a>
                    <div>
                      <!-- Modification ici pour appeler la nouvelle méthode -->
                      <button (click)="redirigerVersformulaireModification(chambreItem.idChambre)" class="btn btn-success">Modifier</button>
                      <button (click)="onDeleteChambre(chambreItem.idChambre , i)" class="btn btn-danger">Supprimer</button>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

