<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="min-height: 600px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Hello {{connectedStudent.nomEt }}</h1>
        <p class="text-white mt-0 mb-5">This is your profile page. You can see the progress you've made with your work
          and manage your projects or assigned tasks</p>
        <button type="button" class="btn btn-primary" (click)="openModel()" data-bs-toggle="modal"
          data-bs-target="#myModal"> Open modal </button>
      </div>
    </div>
  </div>
  <!-- Start Update Profile PopUp Model-->
  <!-- Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Edit Profile</h4>
          <button type="button" (click)="closeModel()" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="card-body">
            <form [formGroup]="userProfileForm" (ngSubmit)="onSubmit()">
              <h6 class="heading-small text-muted mb-4">User information</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="nom">Nom</label>
                      <input type="text" id="nom" formControlName="nom" class="form-control form-control-alternative"
                        placeholder="nom" value={{connectedStudent.nomEt}}>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="prenom">Prenom</label>
                      <input type="text" id="prenom" formControlName="prenom"
                        class="form-control form-control-alternative" placeholder="cin"
                        value={{connectedStudent.prenomEt}}>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="cin">Cin</label>
                      <input type="int" id="cin" formControlName="cin" class="form-control form-control-alternative"
                        placeholder="cin" value={{connectedStudent.cin}}>
                    </div>
                  </div>
                </div>
                <p>{{connectedStudent.idEtudiant}}</p>
              </div>
              <hr class="my-4" />
            </form>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="submit" class="btn btn-success" (click)="onSubmit()">Submit</button>
            <button type="button" (click)="closeModel()" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <!-- End Update Profile PopUp Model-->