<!-- Dark table -->
<div class="row mt-5">
    <div class="col">
        <div class="card bg-default shadow">
            <div class="card-header bg-transparent border-0">
                <h3 class="text-white mb-0">La liste des Etudiants</h3>
            </div>
            <div class="table-responsive">
                <table class="table align-items-center table-dark table-flush">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID Etudiants</th>
                            <th scope="col">Nom et Prenom</th>
                            <th scope="col">Email</th>
                            <th scope="col">Ecole</th>


                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let etudiant of etudiants">
                            <th scope="row">
                                <div class="media align-items-center">

                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue"
                                        class="bi bi-person-circle" viewBox="0 0 16 16">
                                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                                        <path fill-rule="evenodd"
                                            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                                    </svg>

                                    <div class="media-body">
                                        <span class="mb-0 text-sm"> - {{etudiant.idEtudiant}}</span>
                                    </div>
                                </div>
                            </th>
                            <td>
                                {{etudiant.nomEt}} {{etudiant.prenomEt}}
                            </td>
                            <td>
                                {{etudiant.email}}
                            </td>
                            <td>
                                {{etudiant.ecole}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="d-flex justify-content-center">
    <button type="button" class="btn btn-primary" (click)="openModel3()" data-bs-toggle="Modal"
        data-bs-target="#thirdmodal">Ajouter Etudiant </button>
</div>
<br>
<br>
<!-- Start add Reservation PopUp Model-->
<!-- Modal -->
<div class="modal" id="thirdmodal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Ajouter Un Nouveau Etudiant</h4>
                <button type="button" (click)="closeModel3()" class="btn-close" data-bs-dismiss="newmodal"></button>

            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="card-body">
                    <form [formGroup]="addStudentForm" (ngSubmit)="addStudent()">
                        <h6 class="heading-small text-muted mb-4">Reservation information</h6>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="idReservation">idEtudiant</label>
                                        <input type="text" id="idEtudiant" formControlName="idEtudiant"
                                            class="form-control form-control-alternative" placeholder="idEtudiant">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="anneeUniversitaire">Nom Etudiant</label>
                                        <input type="text" id="nomEt" formControlName="nomEt"
                                            class="form-control form-control-alternative" placeholder="nomEt">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="anneeUniversitaire">Prenom
                                            Etudiant</label>
                                        <input type="text" id="prenomEt" formControlName="prenomEt"
                                            class="form-control form-control-alternative" placeholder="prenomEt">
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="anneeUniversitaire"> Naissance
                                                Etudiant</label>
                                            <input type="date" id="dateNaissance" formControlName="dateNaissance"
                                                class="form-control form-control-alternative"
                                                placeholder="dateNaissance">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="anneeUniversitaire">email
                                            Etudiant</label>
                                        <input type="text" id="email" formControlName="email"
                                            class="form-control form-control-alternative" placeholder="email">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="anneeUniversitaire">Cin Etudiant</label>
                                        <input type="text" id="cin" formControlName="cin"
                                            class="form-control form-control-alternative" placeholder="cin">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="anneeUniversitaire">ecole
                                            Etudiant</label>
                                        <input type="text" id="ecole" formControlName="ecole"
                                            class="form-control form-control-alternative" placeholder="ecole">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>


                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" (click)="addStudent()">Submit</button>
                        <button type="button" (click)="closeModel3()" class="btn btn-danger"
                            data-bs-dismiss="newmodal">Close</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--End Add reservation -->